@model ProductModel



@foreach(var p in @Model.Products)
{
    <partial name="_ProductSummary" model="p"/>
}

<nav aria-label="Page navigation example" class="paginationbox">
      <ul class="pagination">
@for(int i =1; i <= @Model.PageCount; i++)
{

<li class="page-item"><a class="page-link" asp-action="List" asp-route-currentPageIndex=@i asp-route-category=@Model.CurrentCategory>@i</a></li>
            
}
</ul>
</nav>




 
