@model LoginModel
@{
 ViewBag.Title = "Log In";
 Layout = "_AdminLayout";
}

    <form asp-action="Login" asp-controller="Account" method="post">
    <partial name="_formularioForAccount" />
    <button class="btn btn-primary" type="submit">Log In</button>
   </form>


