@model CartRepository

@{

}

<div class=" ">

    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text  text-light">
            <b>Your cart:</b>
            @Model.Lines.Sum(x=> x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("C")
        </small>
    }
</div>